#navbar{
    margin-left: 200px;
}

.parallax-container {
    min-height: 400px;
    height: auto;
    }

.index-banner{
    margin-top: 170px;
    color: #ffffff;
  }

#about{
    min-height: 420px;
    height: auto;
    background-color: #ffffff;
}

#portfolio{
    padding-top: 30px;
}

#contact{
    padding-top: 30px;
    padding-bottom: 100px;
}

#contact a{
    display: inline-block;
    margin: 5px 0;
    width: 100%;
}

